div.row.module
    footer(role="contentinfo").footer
        ul.footer__list--horiz
            li.footer__list-item--horiz: a(href="#") Privacy Policy
            li.footer__list-item--horiz: a(href="#") Terms of Use
            li.footer__list-item--horiz: a(href="#") Copyright Notice
        p.footer__body-text
        | Copyright 2015, #[a(href="#").footer__link American Osteopathic Association]. All rights reserved.

script(src='js/jquery.js')
script(src='js/nav.js')
script(src='js/jquery.fitvids.js')
script.
  /* fitvids */
  $(document).ready(function() {
    $('#video').fitVids();
  });
  
script(src='http://localhost:35729/livereload.js')


