script(src='js/jquery.min.js')
script(src='js/jquery.fitvids.js')
script.
  /* fitvids */
  $(document).ready(function() {
    $('#video').fitVids();
  });
  
script(src='http://localhost:35729/livereload.js')


