.site-branding {

    &__logo {
        width: 5em;
        display: inline-block;
        margin-top: .5em;
        margin-left: 2.25em;

        @include breakpoint($screen $desktopstart) {
            width: 7.7em;
            margin-top: .5em;
            margin-left: 0;

        }

        &--minor {
            display: none;

            @include breakpoint($screen $desktopstart) {
                width: 12em; 
                display: inline-block;
                float: right;
            }
        }
    }
    

}
